<%- include("header") -%>

<h1>About Me</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti praesentium repellat doloribus itaque modi quis sit, beatae aliquam magnam perspiciatis vitae quibusdam necessitatibus iste, ad tempora a eum, id error?</p>

<%- include("footer") -%>